@font-face {
	font-family: scientifica;
	src: url('assets/font/scientifica.ttf');
	/* font-weight:400; */
	/* font-weight:normal; */
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	margin: auto;
}
